.DS_Store
curl_response.txt
/compress_tutorials
files.txt
wallaroo-model-cookbooks/computer-vision/models/coco_classes.pickle
wallaroo-model-cookbooks/computer-vision/models/frcnn-resnet.pt
wallaroo-model-cookbooks/computer-vision/models/frcnn-resnet.pt.onnx
wallaroo-model-cookbooks/computer-vision/models/mobilenet.pt
wallaroo-model-cookbooks/computer-vision/models/mobilenet.pt.onnx
wallaroo-model-cookbooks/computer-vision/models/post-process-drift-detection.py
tools/convert_wallaroo_data_to_pandas_arrow/data/high_fraud.arrow
creds.json.example
bigquery_service_account_key.json.example
bigquery_service_account_input_key.json.example
bigquery_service_account_output_key.json.example
.vscode/launch.json
wallaroo-model-cookbooks/computer-vision-mitochondia-imaging/downloaded_patches
*.example
wallaroo-model-cookbooks/computer-vision/models/resnet50_v1.onnx
model-auto-conversion_hugging-face_complex-pipelines_hf-summarisation-bart-large-samsun.zip
pipeline-edge-publish/edge-llama2/models/raw-models_llama-text-generation-pipe.zip
wallaroo-model-cookbooks/hf-clip-vit-base/models/clip-vit-base-patch-32.zip
wallaroo-model-cookbooks/llama/models/model-auto-conversion_BYOP_llama_byop_llamav2_new2.zip
scratch/
wallaroo-model-upload-tutorials/computer-vision/models/coco_classes.pickle
frcnn-resnet.pt
frcnn-resnet.pt.onnx
mobilenet.pt
mobilenet.pt.onnx
model-with-pixel-intensity.zip
yolov5s6.onnx
yolov8nOpset17.onnx
yolov8xOpset17.onnx
docs/
images/
resnet50_v1.onnx
wallaroo-llms/llamav2/models/llama_byop_llamav2.zip
wallaroo-llms/vector-database-embedding-with-ml-orchestrations/models/byop_bge_base2.zip
wallaroo-llms/vector-database-embedding-with-ml-orchestrations/vector_db_orch.zip
clip-vit-base-patch-32.zip
environment.env
