.DS_Store
curl_response.txt
/compress_tutorials
files.txt
wallaroo-model-cookbooks/computer-vision/models/coco_classes.pickle
wallaroo-model-cookbooks/computer-vision/models/frcnn-resnet.pt
wallaroo-model-cookbooks/computer-vision/models/frcnn-resnet.pt.onnx
wallaroo-model-cookbooks/computer-vision/models/mobilenet.pt
wallaroo-model-cookbooks/computer-vision/models/mobilenet.pt.onnx
wallaroo-model-cookbooks/computer-vision/models/post-process-drift-detection.py
tools/convert_wallaroo_data_to_pandas_arrow/data/high_fraud.arrow
creds.json.example
bigquery_service_account_key.json.example
bigquery_service_account_input_key.json.example
bigquery_service_account_output_key.json.example
.vscode/launch.json
wallaroo-model-cookbooks/computer-vision-mitochondia-imaging/downloaded_patches
*.example
wallaroo-model-cookbooks/computer-vision/models/resnet50_v1.onnx
model-auto-conversion_hugging-face_complex-pipelines_hf-summarisation-bart-large-samsun.zip
pipeline-edge-publish/edge-llama2/models/raw-models_llama-text-generation-pipe.zip
wallaroo-model-cookbooks/hf-clip-vit-base/models/clip-vit-base-patch-32.zip
pipeline-edge-publish/edge-observability-cv/models/model-with-pixel-intensity.zip
pipeline-edge-publish/edge-observability-cv/models/frcnn-resnet.pt
pipeline-edge-publish/edge-observability-cv/models/frcnn-resnet.pt.onnx
pipeline-edge-publish/edge-observability-cv/models/mobilenet.pt
pipeline-edge-publish/edge-observability-cv/models/mobilenet.pt.onnx
pipeline-edge-publish/edge-observability-cv/models/resnet50_v1.onnx
pipeline-edge-publish/edge-observability-cv/models/yolov5s6.onnx
pipeline-edge-publish/edge-observability-cv/models/yolov8nOpset17.onnx
pipeline-edge-publish/edge-observability-cv/models/yolov8xOpset17.onnx
pipeline-edge-publish/edge-observability-cv/models/cv-retail-models.zip
wallaroo-model-cookbooks/llama/models/model-auto-conversion_BYOP_llama_byop_llamav2_new2.zip
scratch/
wallaroo-model-cookbooks/llamav2/models/model-auto-conversion_BYOP_llama_byop_llamav2_new2.zip
wallaroo-model-upload-tutorials/computer-vision/models/coco_classes.pickle
wallaroo-model-upload-tutorials/computer-vision/models/frcnn-resnet.pt
wallaroo-model-upload-tutorials/computer-vision/models/frcnn-resnet.pt.onnx
wallaroo-model-upload-tutorials/computer-vision/models/mobilenet.pt
wallaroo-model-upload-tutorials/computer-vision/models/mobilenet.pt.onnx
